<div class="d-flex justify-content-center align-items-center min-vh-100" style="background:#f4f8ff;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 420px; border-radius: 12px;">
        <h3 class="text-center fw-bold mb-3 text-primary">verifyuser</h3>
        <form [formGroup]="LoginForm" (ngSubmit)="submit()">
            <div class="mb-3">
                <label class="form-label fw-semibold">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
                @if ((username?.touched || username?.dirty) && username?.errors?.['required']) {
                <p class="text-danger">please enter your username</p>
                }
            </div>
            <div class="mb-2">
                <label class="form-label fw-semibold">Phone</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="phone">
                @if ((phone?.touched || phone?.dirty) && phone?.errors?.['required']) {
                <p class="text-danger">please enter your password</p>
                }
            </div>
            <div class="text-end mb-3">
                <a routerLink="/login" class="text-primary text-decoration-none small fw-semibold">Login?</a>
            </div>
            <button class="btn btn-primary w-100 fw-semibold py-2" [disabled]="LoginForm.invalid">Verify</button>
            <div *ngIf="PasswordOpen">
                <form [formGroup]="PasswordForm" (ngSubmit)="SubmitPassword()">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Password</label>
                        <input type="password" class="form-control" placeholder="Enter password"
                            formControlName="password">
                        @if ((username?.touched || username?.dirty) && username?.errors?.['required']) {
                        <p class="text-danger">please enter your username</p>
                        }
                    </div>

                    <div class="mb-2">
                        <label class="form-label fw-semibold">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Enter confirm password"
                            formControlName="cpassword">
                        @if ((phone?.touched || phone?.dirty) && phone?.errors?.['required']) {
                        <p class="text-danger">please enter your password</p>
                        }
                    </div>
                    <button class="btn btn-primary w-100 fw-semibold py-2"
                        [disabled]="LoginForm.invalid">Submit</button>
                </form>
                <p class="text-center mt-3">
                    Don't have an account?
                    <a routerLink="/register" class="text-primary fw-semibold text-decoration-none">Register</a>
                </p>
            </div>