<div class="d-flex justify-content-center align-items-center min-vh-100" style="background:#f4f8ff;">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 420px; border-radius: 12px;">

    <h3 class="text-center fw-bold mb-3 text-primary">Login</h3>

    <form [formGroup]="LoginForm" (ngSubmit)="submit()">

      <div class="mb-3">
        <label class="form-label fw-semibold">Username</label>
        <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
        @if ((username?.touched || username?.dirty) && username?.errors?.['required']) {
        <p class="text-danger">please enter your username</p>
        }
      </div>

      <div class="mb-2">
        <label class="form-label fw-semibold">Password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        @if ((password?.touched || password?.dirty) && password?.errors?.['required']) {
        <p class="text-danger">please enter your password</p>
        }
      </div>
      <div class="text-end mb-3">
        <a routerLink="/forgetpwd" class="text-primary text-decoration-none small fw-semibold">Forgot Password?</a>
      </div>
      <button class="btn btn-primary w-100 fw-semibold py-2" [disabled]="LoginForm.invalid">Login</button>
    </form>

    <p class="text-center mt-3">
      Don't have an account?
      <a routerLink="/register" class="text-primary fw-semibold text-decoration-none">Register</a>
    </p>
  </div>
</div>